<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>proj-html-vuejs</title>

		<!-- Vue-JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<!-- ajax -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script> -->

		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
		<!-- AGGIUNGERE I/IL PERCORSO/I DI CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
	</head>

	<body>

		<div id="sofbox">

			<div class="container">

				<header>

					<!-- HEADER TOP -->

					<!-- sezione: NAVbar & logo -->
					<nav class="space_around">
						
						<img class="nav_img" :src="img.logo" alt="sofbox logo">
	
						<div class="space_between">
							<ul class="link_ul">
								<li v-for="(link,linkIndex) in navbar" @click="activeLink(linkIndex)" :class='addClass(linkIndex)' v-html='link.section'></li>
							</ul>
	
							<form @submit.prevent="funzioneEsempio(quello,che,vuoi)">
								<i class="fas fa-search"></i><!-- probabilmente questo andrà in un div che farà comparire una searchbar --> <!-- <input class="" type="text" v-model="" placeholder="Search"> -->
								<i class="fas fa-shopping-cart">
									<span class="counter">0</span>
								</i>
							</form>
							<button class="button" type="submit" v-html='button.started'></button>
						</div>
					</nav>



					<!-- HEADER LOWER -->

					<!-- sezione: Platform & Button -->
					<div class="space_around pltf_btn">

						<div class="platform"  v-for='content in platform'>
							<h2 v-html='content.title'></h2>
							<p v-html='content.description'></p>
							<button class="button" type="submit" v-html='button.more'></button>
						</div>

						<div class="jumbotron">
							<img :src="img.jumbotron" alt="Jumbotron">
						</div>
					</div>
				</header>

				<main><!-- qui verrà inserito il contenuto del sito suddiviso in 5 blocchi -->

					<!-- blocco 1: Online Marketing -->
					<ul class="on_marketing_ul center">
						<li class="on_marketing"  v-for="content in onlineMarketing">
							<img :src="img.onMarketing" alt="A simple pc immage">
							<h3 v-html='content.title'></h3>
							<p v-html='content.description'></p>
							<span><i class="fas fa-check"></i>{{content.seo}}</span>
							<span><i class="fas fa-check"></i>{{content.sem}}</span>
							<span><i class="fas fa-check"></i>{{content.strategy}}</span>
							<span><i class="fas fa-check"></i>{{content.management}}</span>
						</li>
					</ul>

					<!-- blocco 2: Tips&Tricks -->

					<div class="space_around tips">

						<div class="tips_info">
							<div class="tips"  v-for='content in infoTip'>
								<h2 v-html='content.title'></h2>
								<p v-html='content.description'></p>
							</div>
	
							<div class="card space_around" v-for='(content,tipsIndex) in cards'
							@click="activeTip(tipsIndex)" :class='addClassTips(tipsIndex)'>
								<img :src="content.cardImg" alt="Jumbotron whit talking persons">
								<div class="large_card">
									<h3 v-html='content.title'></h3>
									<p v-html='content.description'></p>
								</div>
							</div>
						</div>

						<div class="jumbotron">
							<img :src="img.jumbotronTips" alt="Jumbotron whit talking persons">
						</div>
					</div>

					<!-- blocco 3: Popular Features -->

					<!-- blocco 4: Testimonial -->

					<!-- blocco 5: Latest Posts -->
				</main>

				<footer><!-- qui verrà inserito il contenuto del footer diviso in due blocchi -->

					<!-- sezione: Contattaci -->

					<!-- sezione: Link e info utili -->
				</footer>
			</div>
		</div>
		
		<!-- JS -->
		<script type="text/javascript" src="./assets/js/main.js"></script>
	</body>
</html>