/* reset */
*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}


/* 
	sezione: COLORI
/*  */
	.bkg_cl{
		background-color: #ffffff;
		background-color: #f2f7ff;
		background-color: #377dff;
		background-color: #1e1e1e;
		background-color: #00000026;
	}
	.txt_cl{
		color: #ffffff;
		color: #6cdac1;
		color: #ff796d;
		color: #8e989f;
		color: #377dff;
		color: #495057;
		color: #1e1e1e;
		color: #000000;
		color: #000000e6;
	}
	.brdr_cl{
		border-color: #ffffff;
		border-color: #6cdac1;
		border-color: #ff796d;
		border-color: #8e989f;
		border-color: #377dff;
		border-color: #495057;
		border-color: #1e1e1e;
		border-color: #00000008;
		border-color: #0000000d;
		border-color: #00000014;
	}
*/


/* utility */
body{
	font-size: 0.8em;
	font-family: Helvetica, Arial, Sans-Serif;
	overflow-x: hidden;
	height: 100%;
    background: linear-gradient(180deg, #ffffff 80%, #f2f7ff 20%);
}
header{
	background-color: white;
}

.container {
	max-width: 1175px;
	margin: 0 auto;
}

.active{
	color: #377dff;
	border-bottom: solid;
}

.button{
	padding: 10px 15px 10px 15px;
	color: #ffffff;
	border: 1px solid #377dff;
	background-color: #377dff;
	border-radius: 5px;
}
button:hover{
	background-color: #1e1e1e;
	border-color: #1e1e1e;
}

li{
	list-style-type: none;
}

h2, h3{
	font-weight: 100;
}
h2{
	line-height: 1.5em;
	font-size: 2em;
	font-weight: 100;
}

p{
	color: #8e989f;
	line-height: 1.5em;
}

/* flex */
.space_around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.space_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center{
	display: flex;
	justify-content: center;
}




/* HEADER TOP */
/** sezione: NAVbar & logo */
nav{
	margin-bottom: 15px;
}

.nav_img{
	height: 40px;
}

.link_ul > li{
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 15px;
	margin: 0px 10px 0px 10px;
	cursor: pointer;
}

.link_ul > .fa-shopping-cart{
	position: relative;
}

form > .fa-search{
	margin-left: 40px;
	margin-right: 10px;
}
form > .fa-shopping-cart{
	margin-left: 10px;
	margin-right: 40px;
}
.counter{
	width: 20px;
	display: inline-block;
	position: relative;
	transform: translate(-35%, -50%);
	color: white;
	border: 1px solid  #377dff;
	background-color:  #377dff;
	text-align: center;
	border-radius: 10px;
	z-index: -1;
}



/* HEADER LOWER */
/* sezione: Platform & Button */
.pltf_btn{
	background-color: #f2f7ff;
	margin-bottom: 50px;
	height: 380px;
}

.platform > h1{
	margin-top: 30px;
	margin-bottom: 20px;
}
.platform > p{
	margin-bottom: 30px;
}

.platform > .button{
	margin-bottom: 60px;
}

.jumbotron > img{
	position: relative;
	top: 25px;
    height: 400px;
}




/* MAIN */

/* blocco 1: Online Marketing */
.on_marketing_ul{
	margin-bottom: 50px;
}

.on_marketing{
	margin: 30px;
}

.on_marketing > p{
	margin-top: 10px;
	margin-bottom: 25px;
}
.on_marketing > img{
	width: 60px;
	position: relative;
	transform: translate(-110%, 100%);
}

.on_marketing > span{
	margin-bottom: 15px;
	display: block;
}

span > i{
	margin-right: 15px;
	color: #377dff;
}




/* blocco 2: Tips&Tricks */
.tips{
	margin-bottom: 50px;
	max-width: 1000px;
}

.tips > h3{
	margin-top: 30px;
	margin-bottom: 20px;
}
.tips > p{
	margin-bottom: 30px;
}

.card{
	width: 450px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 15px;
}
.card > img{
	width: 60px;
	margin: 15px;
}

.large_card > h3{
	color: #377dff;
	margin-bottom: 15px;
}
.large_card > p{
	padding-right: 20px;
}

.active_tip{
	box-shadow: 0 5px 10px 5px #00000008, 0 0 20px 0#00000008;
}

.jumbotron_mini > img{
    height: 350px;
}



/* blocco 3: Popular Features */
.features{
	margin-bottom: 100px;
}
.sphere{
	height: 0px;
}
.sphere > img{
    position: relative;
    left: -320px;
    top: -80px;
	width: 380px;
	z-index: -1;
}

.feature_info{
	margin-left: 100px;
}

.feature_general > button{
	margin-left: 0px;
}

.feature_cards{
	max-width: 1024px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature_card{
	margin: 10px;
    padding: 20px;
    width: 230px;
}
.feature_card:hover{
	background-color: #6cdac1;
}

.feature_card > img{
	width: 40px;
	margin-top: 20px;
}




/* blocco 4: Testimonial */
.testimonial{
	text-align: center;
	margin-bottom: 100px;
}

.testimonial_info{
	margin-bottom: 100px;
}

.little_card{
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	padding: 40px;
	width: 450px;
	background-color: #ffffff80;
	box-shadow: 0 5px 10px 5px #00000008, 0 0 20px 0#00000008;
}
.little_card > img{
	width: 50px;
	border: 1 solid white;
	border-radius: 50px;
}

.circle{
	position: relative;
	top: 30px;
	margin-bottom: 100px;
}

.active_circle{
	color: #377dff;
}




/* blocco 5: Latest Posts */
.latest{
	text-align: center;
	margin-bottom: 100px;
}

.latest_info{
	margin-bottom: 100px;
}

.latest_container{
	text-align: center;
    display: flex;
    justify-content: space-around;
}

.latest_cards{
	background-color: #ffffff80;
	box-shadow: 0 5px 10px 5px #00000008, 0 0 20px 0#00000008;
}

.latest_car{
	margin: 10px;
}

.latest_card > img{
	width: 200px;
	border: 1 solid white;
}

.circle{
	position: relative;
	top: 30px;
	margin-bottom: 100px;
}

.active_circle{
	color: #377dff;
}




/* FOOTER */
/* sezione: Contattaci */
/* sezione: Link e info utili */